footer {
  background-color: #4679e6;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);

  /* Adicione estas propriedades para fixar o rodapé no final da página */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-logo {
  display: block; 
  max-width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
}

.footer p {
  font-size: 16px;
  margin: 0;
  cursor: default;
  color: white;
}

.footer .navbar {
  margin-top: 80px;
  padding: 5px;
  text-align: center;
}

.footer .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.footer .navbar li {
  display: inline-block;
  margin-right: 20px;
}

.footer .navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.footer .navbar a:hover {
  background-color: #305fb0;
  border-radius: 5px;
  transition: 1s;
}

.footer-links {
  float: right;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin-left: 20px;
}
