*{
  margin: 0px;
}
body{
  background-color:#81abde;
}
p{
  color: white;
  font-size:2rem;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #A3CEEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
 
h1 {
  font-size: 24px;
  color: #00609c;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #00609c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #006DB2;
}
